body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banar{
    background-image: url("images/donation3.jpg");
    background-size:100%;
    text-align:center;
}
.home{
    text-align:center;
    width:50%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right:50%;
    
}
#people{
    text-align: center;
    color: white ; 
}
#help{
    font-size: 80px;
    color:white ;
    text-align: center;
}
.anchor-button{
    text-decoration:none;
    background: linear-gradient(45deg, rgb(240, 74, 9), rgb(252, 255, 71));
    padding: 10px 40px;
    border-radius:10px;
    color: white;
    font-weight: 700;
    align-content: center;
}
.heading{
    margin-top: 60px;
    text-align:center;
    font-size: 50px;
    padding: 0px;
}
.para{
text-align:center;
padding: 0px;
font-size: large;
}


.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 60px;
    margin-top: 40px;

}
.container1 div{
    padding: 5px;
    flex-basis: 15%;
    text-align: center;
     margin-left: 10px;
    margin-right: 10px;
    
}
.container1 .child10{

    background:rgba(236, 220, 229, 0.268) ;
}
.container1 .child11{
    background:rgba(240, 155, 155, 0.903);
    border-color:black;
    
}
.container1 .child12{
    background:rgba(236, 220, 229, 0.268);
}
.container1 .child13{
    background:rgba(236, 220, 229, 0.268);
}
.container1 .child14{
    background:rgba(236, 220, 229, 0.268);
}

#other{
    text-align:center;
    font-size: 30px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}


a{
    display: block;
    margin: auto;
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: deeppink;
    box-shadow:2px 2px lightgray;
    border-radius:5px;
    border: 0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    text-align:center;

}
.heading{
    text-align:center;
    font-size: 50px;
    padding: 0px;
}
.para{
text-align:center;
font-size: larger;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 0px;
margin-bottom:30px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0px;
}

.container div{
    padding: 10px;
    flex-basis: 30%;
}
.container .child1{

    background:rgba(220, 230, 181, 0.493) ;
}
.container .child2{
    background:rgba(255, 0, 119, 0.268)
}
.container .child3{
    background:rgba(255, 225, 0, 0.255)
}

.container2{
align-content: center;
    height: 200px;
    padding-left:5%;
    background-color: rgb(236, 228, 160);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 10px;
    
}
.mail{
    text-align: center;
    color: rgb(240, 119, 119);
    font-size: 80px;
}
input[type=email]{
    font-size:1.5rem;
    padding: .8em .8em;
    text-align: center;
}
input[type=submit]{
    font-size:1.5rem;
    padding: .8em .8em;
    background-color: rgb(240, 105, 132);
}
.service{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0px;
}

.service div{
    padding: 10px;
    flex-basis: 30%;
}
.service .child20{
    background:rgba(236, 220, 229, 0.268);
}
.service .child21{
    background:rgba(220, 236, 223, 0.268);
}
#survive{
    font-size: 40px;
    text-decoration: none;
    
}

.my-button{
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: deeppink;
    box-shadow:5px lightgray;
    border-radius:5px;
    text-align: center;
}
footer{
    background-color: black;
    height: 200px;
}

#Humble{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: white ; 
    padding-bottom: 0px;
    text-align: center;
}
#para1{
    font-size: 20px;
    color:white ;
    text-align: center;
}

